rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /thumbnail/{pictureId} {
      allow get;
      allow create: if request.resource.size < 5 * 1024 * 1024
                      && request.resource.contentType.matches('image/.*');
    }
    match /picture/{pictureId} {
      allow get;
      allow create: if request.resource.size < 5 * 1024 * 1024
                      && request.resource.contentType.matches('image/.*');
    }
    match /ogp/{pictureId} {
      allow get;
      allow create: if request.resource.size < 5 * 1024 * 1024
                      && request.resource.contentType.matches('image/.*');
    }
  }
}
