.trigger {
  box-sizing: border-box;
  display: block;
  height: 48px;
  padding: 14px 21px;
  margin: 24px auto;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.25rem;
  color: #fff;
  text-align: center;
  background: var(--color-twitter);
  border: none;
  border-radius: 8px;
}

.header {
  padding: 0.6rem 1.2rem;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: var(--color-twitter);
}

.footer {
  display: flex;
  align-items: center;
  height: 100%;
  border-top: 1px solid #ddd;
}

.cancel,
.post {
  display: block;
  padding: 0.3rem 0.6rem;
  font-size: 1rem;
  border: none;
  border-radius: 1.3rem;
}

.cancel {
  margin-left: auto;
  color: #000;
  background: #ddd;
}

.post {
  box-sizing: border-box;
  margin: 1rem;
  color: #fff;
  background: var(--color-twitter);
}
