.img {
  display: block;
  width: 80px;
  height: 80px;
  border: 3px solid var(--theme-color-main);
  border-radius: 6px;
}

.caption {
  display: block;
  margin-top: .25rem;
  text-align: center;
}
