.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 2px;
  margin: 4px auto 0;
  background: #fff;
  border-radius: 8px;
}

.button {
  box-sizing: border-box;
  display: block;
  width: 24px;
  height: 24px;
  padding: 5px;
  margin: 4px;
  font-size: 14px;
  border-radius: 50%;
}

.input {
  display: none;
}
