.container {
  margin: auto;
}

.canvas {
  display: block;
  width: 320px;
  height: 320px;
  margin: auto;
  touch-action: none;
  border: 6px solid #ea6;
  border-radius: 8px;
}

.title {
  box-sizing: border-box;
  display: block;
  width: 180px;
  height: 40px;
  padding: 8px 0;
  margin: 12px auto;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background: #fff;
  border: 3px solid #ea6;
}

.tools {
  max-width: 360px;
  margin: auto;
}

.complete {
  box-sizing: border-box;
  display: block;
  width: 150px;
  height: 48px;
  margin: 24px auto 6px;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background: #ea6;
  border: none;
  border-radius: 8px;
}

.caution {
  display: block;
  font-size: 0.75rem;
  color: #f00;
  text-align: center;
}
